    @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

    * {
        font-family: 'Noto Sans TC';
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
    }

    #menu-link {
        display: block;
    }

    .topnav {
        overflow: hidden;
        background-color: #ffffff;
    }

    .topnav a {
        float: left;
        display: block;
        color: #323237;
        text-align: center;
        padding: 19px 24px;
        text-decoration: none;
        transition: all 0.8s ease;
    }

    .topnav a:hover {
        color: #f597a5;
    }

    [class*="col-"] {
        float: left;
        padding: 15px;
        margin-bottom: 20px;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .row {
        margin-bottom: 20px;
        min-height: 70vh;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .footer {
        background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
        background-blend-mode: multiply;
        color: #ffffff;
        text-align: center;
        font-size: 12px;
        padding: 15px;
    }

    #logo {
        width: auto;
        height: 30px;
        margin: 15px 25px;
        float: left;
        display: block;
    }

    path {
        stroke: #FFF;
        fill: #FFF;
        stroke-dasharray: 1800;
        opacity: 10;
        animation: logo 2s cubic-bezier(0, 0.23, 1, 0.1) forwards;
    }

    @keyframes logo {
        0% {
            opacity: 0;
            fill: none;
            stroke-dashoffset: 1800;
        }
        30% {
            opacity: 10;
            fill: none;
            stroke-dashoffset: 1800;
        }
        90% {
            fill: rgba(000, 000, 000, 0);
        }
        100% {
            opacity: 10;
            fill: rgba(000, 000, 000, 1);
            stroke-dashoffset: 0;
        }
    }

    div.gallery {
        border: 1px solid #ccc;
        overflow: hidden;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
        transition: all 0.5s ease;
    }

    div.gallery:hover img {
        transform: scale(1.2);
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    h2 {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    h2:after {
        display: inline-block;
        margin: 0 0 8px 20px;
        height: 2px;
        content: " ";
        text-shadow: none;
        background-color: #999;
        width: 10vw;
    }

    h2:before {
        display: inline-block;
        margin: 0 20px 8px 0;
        height: 2px;
        content: " ";
        text-shadow: none;
        background-color: #999;
        width: 10vw;
    }

    .about {
        width: 40vw;
        height: 40vw;
        padding:8vw;
        color:#FFF;
        border-radius: 50%;
        background: #323237;
        position: relative;
        right: 10vw;
        top: 10vh;
        float: right;
    }

    .about span {}
    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

    @media screen and (max-width:600px) {
        [class*="col-"] {
            width: 100%;
        }
        .about {
            display: none;
        }
        #logo {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin: 15px 0px;
            cursor:pointer;
        }
        #menu-link {
            display: none;
            margin-top: 60px;
        }
        #menu-link a {
            float: none;
            width: 100%;
        }
        .menu {
            display: inline-block;
            cursor: pointer;
            position: absolute;
            left: 20px;
            top: 15px;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 25px;
            height: 2px;
            border-radius: 25px;
            background-color: #333;
            margin: 6px 0;
            transition: 0.4s;
        }

        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-6px, 6px);
            transform: rotate(-45deg) translate(-6px, 6px);
        }

        .change .bar2 {
            opacity: 0;
        }

        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-6px, -6px);
            transform: rotate(45deg) translate(-6px, -6px);
        }
    }

    @media only screen and (min-width: 768px) {
        #menu-link {
            display: block;
        }
    }